{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1 style="text-align:center;">{{ title }}</h1>
    <div class="form-group">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Add MeroShare Credentials</legend>
                <div class="form-group">
                    {{ form.client_Id.label() }}
                    {{ form.client_Id() }}
                    {% if form.client_Id.errors %}        
                        {% for errors in form.client_Id.errors %}
                            <p><span style="color: red;">{{ errors }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.username.label() }}
                    {{ form.username() }}
                    {% if form.username.errors %}        
                        {% for errors in form.username.errors %}
                            <p><span style="color: red;">{{ errors }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label() }}
                    {{ form.password() }}
                    {% if form.password.errors %}        
                        {% for errors in form.password.errors %}
                            <p><span style="color: red;">{{ errors }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.add_shareholder(class='btn btn-primary') }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="content-section">
        <i><a href="{{ url_for('auth.logout') }}">logout</a></i>
    </div>
{% endblock %}