<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>
      {% block title %}
        nepack
      {% endblock %}
    </title>
  <head>
  <body>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}

      <main>
        {% block content %}
          <h1 style="text-align:center;">Nepack</h1>

          <div class="main-content">
            <div class="content-section">
              <p>Do you have multiple MeroShare accounts and want to view them all at the same place?</p>
              <p>If so, <i>nepack</i> is for you!</p>
            </div>

            <div class="content-section">
              <p>To get started, <i><a href="{{ url_for('auth.register') }}"> register here!</a></i></p>
              <p>Already have an account? <i><a href="{{ url_for('auth.login') }}"> login here!</a></i></p>
            </div>
          </div>
        {% endblock %}
      </main>
  </body>
</html>
